<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Northem | Contacto</title>
    <link rel="icon" type="image/x-icon" href="assets/img/northem_icon.ico">

    <!--Tailwind css-->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="assets/css/tailwind.css">

    <!--Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"/>
</head>

<body>
    <div class="loader"></div>
    <header>
        
        <!--Social-->
        <section class="info-clinic">
            <div class="container-contact">
                <div class="location">
                    <i class="bi bi-geo-alt"></i>
                    <p>Zeballos 1232, Rosario Santa Fe</p>
                </div>

                <div class="mail" style="margin-left: 1.5vh; margin-right: 1.5vh;">
                    <i class="bi bi-envelope"></i>
                    <p>northem@contacto.com</p>
                </div>

                <div class="phone">
                    <i class="bi bi-telephone-forward"></i>
                    <p>+54 3412632166</p>
                </div>

            </div>
            <div class="container-social">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
            </div>
        </section>

        <!--Navbar-->
        <section id="header" class="">
            <section class="wrapper transition-banner">

                <a href="/index.html"><img src="assets/img/logo.png" class="brand" width="165"></a>
                
 <div class="flex">
          <a href="/carrito.html" class="mx-5"><i class="bi bi-cart-check" style="font-size: 3vh;"
              id="card-shop-mobile"></i></a>
          <div class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
          </div>
        </div>

                <span class="overlay">

                </span>

                <nav class="navbar" id="navbar">

                    <ul class="menu" id="menu">
                        <img src="assets/img/logo.png" class="brand" width="200" style="margin-left: 10px;"
                            id="img-nav-mobile">
                        <li class="menu-item"><a href="/index.html" class="menu-link">Inicio</a></li>

                        <li class="menu-item menu-dropdown">
                            <span class="menu-link " data-toggle="submenu">Especialistas<i class="bx bx-chevron-down"></i></span>
                            <ul class="submenu">
                               <li class="submenu-item"><a href="servicios/clinica-medica.html" class="submenu-link">Clínica Médica</a></li>
                               <li class="submenu-item"><a href="servicios/oftalmología.html" class="submenu-link">Oftalmología</a></li>
                               <li class="submenu-item"><a href="servicios/cardiologia.html" class="submenu-link">Cardiologia</a></li>
                               <li class="submenu-item"><a href="servicios/cirugías.html" class="submenu-link">Cirugía</a></li>
                            </ul>
                         </li>
                        <li class="menu-item"><a href="/obra-social.html" class="menu-link">Obra Social</a></li>
                        <li class="menu-item"><a href="/tienda.html" class="menu-link">Tienda</a></li>
                        <li class="menu-item active"><a href="/contacto.html" class="menu-link">Contacto</a></li>

                        <li class="menu-item"><a href="/iniciar-sesion.html" class="menu-link" id="login-btn">Iniciar Sesion</a></li>
                        <li class="menu-item"><a href="/carrito.html" class="menu-link" id="card-shop-pc"><i
                                    class="bi bi-cart-check" style="font-size: 3vh;"></i></a></li>
                    </ul>
                </nav>
            </section>
        </section>

        <!--Banner-->
        <section id="img-banner">
            <section class="banner" >
                <div class="overflow-hidden flex flex-nowrap  slider-banner-contact" id="slider">
                    <div class=" text-white  flex-none w-full  slider-banner5">
                        
                        <h1 class="title sub-banner1 h1-p" style="color: var(--main);">CONTACTA<br>CON NOSOTROS</h1>
                        <h1 class="title sub-banner1 h1-m" style="color: var(--main);">CONTACTA<br>CON NOSOTROS</h1>
                       
                       
                    </div>
                </div>
    
            </section>
        </section>

    </header>

    <main>

    <div class="title-contact-container container mx-auto">
        <h3 class="title">Completa el siguiente formulario con tus datos y tu consulta o sugerencia.</h3>
    
        <br>
        <p class="paragraph">Te responderemos lo más pronto
            posible.</p>
    </div>

    
   
    <section class="container-contact-boxes container mx-auto">
       
            
            <section>
                <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900"
                    style="color: hsl(234, 40%, 25%);">Datos de contacto.</h2>
                    <br>
                <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400"><i
                        class="bi bi-telephone-fill"></i> +54 3412632166</p>
                        <br>
                <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400 hover:bg-primary-800"><i
                        class="bi bi-whatsapp"></i> +54 3412632166</p>
                        <br>
                <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400"><i
                        class="bi bi-envelope"></i> northem@contacto.com</p>
                        <br>
                <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400"><i class="bi bi-geo-alt"></i> Av.
                    Zeballos 1232, Rosario Santa Fe, Argentina.</p>
                    <br>
                <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400"><i
                        class="bi bi-calendar-event"></i> Lunes a sabados, de 09:00hs a
                        20:00hs</p>
               
            </section>
            
            <div class="mt-4 md:mt-0 mobile-contact-reponsive">
            <section id="app">
                    <div>
                                
                <section>
                    <div class="flex flex-col items-center justify-center ">

                        <div class="w-full"> 
                            <div>
                                <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900"
                                style="color: hsl(234, 40%, 25%);">Realizá tus consultas.</h2>
                                <br>
                                <form class="space-y-4 md:space-y-6" action="#">
                                    <div class="relative z-0 mb-6 w-full group">
                                        <input type="text" 
                                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                            v-model="name">
                                        <label
                                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre
                                            y apellido</label>
                                    </div>
                                    <div class="relative z-0 mb-6 w-full group">
                                        <input type="email" name="floating_password" id="floating_password"
                                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                            v-model="email">
                                        <label for="floating_password"
                                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
                                    </div>
                                    <div class="relative z-0 mb-6 w-full group">
                                        <input type="text" 
                                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                            v-model="phone">
                                        <label 
                                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Teléfono</label>
                                    </div>

                                    <div class="relative z-0 mb-6 w-full group">
                                        <input type="text" name="floating_first_name" id="floating_first_name"
                                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                            v-model="message">
                                        <label for="floating_first_name"
                                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mensaje</label>
                                    </div>
                                  
                                    <button @click="mensajeDeAviso" id="login-btn-contact" type="submit"
                                        class="login-btn">Enviar</button>

                                </form>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
       
    </section>
</main>
<!--
<section class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.86444980493!2d-60.6422228!3d-32.954588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab0fd9c1a557%3A0x87d13ac3cbc73dbf!2sZeballos%201232%2C%20S2000%20BPZ%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1663352051441!5m2!1ses-419!2sar"  height="200" ></iframe>
</section>
-->

<div class="container-footer-img">
     
</div>

    <footer>
        <div class="container mx-auto container-footer">
            <div class="div-footer">
                <ul class="list-footer">
                    <h6 class="h6-footer sub-title">NUESTRA EMPRESA</h6>
                    <a href="" class="paragraph">Quienes somos?</a>
                    <a href="" class="paragraph">Visión</a>
                    <a href="" class="paragraph">Misión</a>
                    <a href=""></a>
                    <a href=""></a>
                </ul>
            </div>

            <div class="div-footer">
                <ul class="list-footer">
                    <h6 class="h6-footer sub-title">PRODUCTOS</h6>
                    <br>
                    <a href="/tienda.html" class="paragraph">Farmacia</a>
                    <a href="/tienda.html" class="paragraph">Alimento</a>
                    <a href="/tienda.html" class="paragraph">Juguetes</a>
                </ul>
            </div>
        
            <div class="div-footer">
                <ul class="list-footer">
                  <h6 class="h6-footer sub-title">SERVICIOS</h6>
                  <br>
                  <a href="/servicios/clinica-medica.html" class="paragraph">Clínica Médica</a>
                  <a href="/servicios/cirugías.html" class="paragraph">Cirugía</a>
                  <a href="/servicios/cardiologia.html" class="paragraph">Cardiología</a>
                  <a href="/servicios/oftalmología.html" class="paragraph">Oftalmología</a>
              </ul>
            </div>

            <div class="div-footer">
                <ul>
                    <h6 class="h6-footer sub-title">SUSCRIBETE</h6>

                    <input type="text" placeholder="Ingresa tu email">
                    <div>
                        <br>
                        <a href="" id="sub-footer">Suscribirse</a>
                    </div>
                </ul>
            </div>
        </div>
    </footer>



    <!--JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">$(window).load(function() {$(".loader").fadeOut("slow");});</script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js'></script>
    <script src='https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js'></script>
    <script src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="contacto.js"></script>
</body>

</html>